.cabecalho{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    height: 80px;
    gap: 20px;
    position: relative;
}

.cabecalho .titulo{
    color: #FFF;
}

.cabecalho .home{
    position: absolute;
    top: 15px;
    left: 20px;
    cursor: pointer;
}

.cabecalho .home:hover{
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
}

.cabecalho .home{
    margin-right: 15px;
    animation: home infinite 20s linear;
}

@keyframes home {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container{
    background-image: url(../imagens/ark.fundo.png);
    min-height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.tabela tbody {
    transition: opacity 0.3s ease-in-out;
}


.tabela-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    
}

.tabela-container th{
    background: #f2f2f2;
    font-weight: bold;
    text-align: center;
}

.tabela-container  .tabela{
    background: #fff;
    border: 1px solid #ccc;
    border-collapse: collapse;
}


.tabela-container th,
.tabela-container td{
    border: 1px solid #ccc;
    padding: 8px;
   
}