*{
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

input {
    
    border: none;
    padding: 4px;
    text-align: left;
    background: none;
    outline: none;  /* remove o contorno ao clicar */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

a{
    text-decoration: none; /* remove o sublinhado */
    color: inherit;      /* herda a cor do elemento pai */
}

select {
  background: transparent;   /* tira o fundo */
  border: none;              /* remove a borda */
  outline: none;             /* remove contorno ao clicar */
  font-size: 14px;           /* você controla o tamanho da fonte */
  color: #000;               /* cor do texto */
  cursor: pointer;           /* mãozinha ao passar o mouse */
}