@font-face {
  font-family: 'MinhaFonteP';
  src: url('../assets/fonts/Bing\ Bam\ Boum.ttf') format('woff2');    
  font-weight: normal;
  font-style: normal;
}

.cabecalho{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
    height: 80px;
}

.cabecalho nav ul{
    display: flex;
    gap: 15px;
    text-align: center;
    margin: 0 auto;
}

.cabecalho nav ul  li  .titulo-estoque::after{
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("../imagens/estoque.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.cabecalho nav ul  li  .titulo-agendado::after{
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("../imagens/cronograma.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.cabecalho nav ul  li  .titulo-dados::after{
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("../imagens/armazenamento-de-banco-de-dados.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.cabecalho nav ul  li  .titulo-tempo::after{
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("../imagens/registro-de-tempo.png");
    background-repeat: no-repeat;
    background-size: cover;
}


.cabecalho nav ul  li a{
    font-size: 14px;
    width: 150px;
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.cabecalho nav ul  li{
    font-size: 14px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: bold;
    gap: 8px;
    border-radius: 5px;
    cursor: pointer;
    transition:  0.3s ease-in-out;
    
}
.cabecalho nav ul  li:hover {
  text-decoration: underline;  /* adiciona de novo no hover */
}


.cabecalho nav ul  li:hover{
    transform: scale(1.05);
     background: linear-gradient(to bottom, #666, #aaa);
}

.cabecalho .ark{
    margin-right: 15px;
    animation: ark infinite 20s linear;
}

@keyframes ark {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container{
    background-image: url("../imagens/ark.fundo.png");
    min-height: 100vh;
    background-size: cover;
    position: relative;
}

.tabela-container{
    display: flex;
    padding: 20px;
    gap: 25px;
}

.tabela-container .adicionar{
    background: linear-gradient(to bottom, #aaa, #666);
    height: 50px;
    color: white;
    font-weight: bold;
    border: none;
    padding: 15px 25px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px #333, -3px -3px 5px #999;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.tabela-container .adicionar:hover{
    background: linear-gradient(to bottom, #666, #aaa);
    transform: scale(1.05);
}


.container .tabela{
    border-collapse: collapse;
}

.tabela-head th,
.tabela-head td{
    padding: 10px;
    text-align: center;
    border: 1px solid #000;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tabela-chamados{
    border-collapse: collapse;
    margin-bottom: 30px;
}

.tabela-chamados .titulo-tabela{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}



.tabela-chamados th,
.tabela-chamados td{
    width: 150px;
    height: 40px;
    padding: 10px;
    text-align: center;
    border: 1px solid #000;
}

.titulo-tabela .header{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.rodape{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    min-height: 10vh;
    color: #fff;
    text-align: center;
    line-height: 20px;
}

.lixeira {
  cursor: pointer;
  font-size: 14px;   /* pode diminuir o tamanho */
}

.lixeira:hover {
  color: red;        /* fica vermelha ao passar o mouse */
}

input.uppercase {
  text-transform: uppercase;
  text-align: center;
}

#contadores {
    position: absolute;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    gap: 5px;
    color: #fff;
    top: 8px;
    right: 15px;
}

.filtro{
    display: flex;
    position: absolute;
    align-items: center;
    right: 160px;
    gap: 10px;
    font-size: 15px;
}

.filtro #filtro {
    width: 10px;
    padding: 5px;
    border: none;
    background: none;
}

#exportar {
    display: flex;
    position: absolute;
    right: -10px;
    top: -33px;
    background: none;
    border: none;
    color: #000;
    cursor: pointer;
}

#excluirFechados{
    margin-left: 10px;
    background: none;
    border: none;
    cursor: pointer;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px); /* entra de cima */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.nova-linha {
  animation: fadeIn 0.5s ease forwards;
}